<meta charset="UTF-8">
<title>Asterian</title>

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<style>
    body {
        padding-top: 50px;
    }
    
    pre {
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }
    
    ul {
        list-style-type: none;
    }
</style>